<nav class="menu">
    <ul>
        <!-- This is an A11y Change -->
        <li><a [routerLink]="['/']" role="link" aria-label="Homepage">Homepage</a></li>
        <li><a [routerLink]="['/about']" role="link" aria-label="About">About</a></li>
        <li><a [routerLink]="['/login']" role="link" aria-label="Login">Login</a></li>
        <li><a [routerLink]="['/contact']" role="link" aria-label="Contact">Contact</a></li>

    </ul>
    <!-- This is an SEO Change -->
    <a href="https://www.charlotte.edu/" role="link">
        <img src="./assets/uncc.jpg" alt="University of North Carolina at Charlotte" class="image">
    </a>

</nav>